<p id="notice"><%= notice %></p>

<p>
  <b>Quote:</b>
  <%= @quote.quote %>
</p>

<p>
  <b>Quote category:</b>
  <%= @quote.quote_category_id %>
</p>

<p>
  <b>Quote by:</b>
  <%= @quote.quote_by %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
